{% extends '::base.html.twig' %}

{% block title %}
    <title>Warehouses</title>
{% endblock %}

{% block body %}
    <h1>Warehouses</h1>
    {% block table %}
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Beacon UUID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name}} </td>
                            <td>{{ product.id }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
    <br/>
{% endblock %}