{% extends '::base.html.twig' %}


{% block body %}

    <h2>Someone getting a promotion?</h2>
    {# app/Resources/views/default/new.html.twig #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}